<!--  Resusable header included in layout.ejs -->
<head>
  <style>
    .navbar-brand {
      width:15%;
      background-color:#1b6639;
    }
  </style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="/" style="color:white"  >GAME APP</a>
  <button
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarNav"
  aria-controls="navbarNav"
  aria-expanded="false"
  aria-label="Toggle navigation"
  >
  <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav" style="background-color: #1b6639;">
  
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/" style="color:white">Hunt-Game5</a>
    </li>
        <li class="nav-item">
    <a class="nav-link" href="/" style="color:white">Team</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://denisecase.github.io/44-563-webapps-syllabus/" style="color:white">Competition</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://nwmissouri.instructure.com/courses/32472" style="color:white">Quest</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://github.com/denisecase/web-app-2020-fall" style="color:white">Player</a
    >
    </li>
  </ul>
  </div>
</div>
</nav>