<!--
*  Competition create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new competition.
*
* @author Sumana Reddy Reddybathula <S538360@nwmissouri.edu>
-->

<section class="pt-5 mt-5 d-flex flex-column align-items-center justify-content-center">
    <br>
    <br>

    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-2"> </div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-3 d-flex justify-content-center text-center">
            <div class="dropdown">
                <button data-toggle="dropdown" type="button"
                    style="background-color: rgba(219, 214, 212, 0.719); height:50px; width: 250px; font-weight: bold;;color:rgb(10, 10, 10);">Invite
                    Players
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Player 1</a></li>
                    <li><a href="#">Player 2</a></li>
                    <li><a href="#">Player 3</a></li>
                </ul>
            </div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-2"> </div>
        </div>

    </div>
    <br>


    <br><br><br><br><br>
    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-2"> </div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-3 d-flex justify-content-center text-center">
            <div class="dropdown1">
                <button type="button"
                    style="width: 250px;color:rgb(10, 10, 10);background-color:#00674c; height: 40px;font-weight: bold;">Send
                    Invitation</button></div>
        </div>
        <div class="col-sm-2"> </div>
        <div class="col-sm-2"> </div>
    </div>
</section>
